doctype html
html
  head
    title #{title} - My Site
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 Static Express with Jade and Stylus
    .container
      .main-content
        block content
    
    footer
       p You are running a website on node with Express, Jade and Stylus
